<!DOCTYPE html>
<html>
  <head>
    <title>Review Test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <%= yield %>
  </body>
</html>
